<header class="header">

    <img src="assets/img/header/logo.svg" alt="company logo" class="header__logo">


    <ul class="header__authtorization authtorization">
        <li class="authtorization__item">
            <a>
                <img src="assets/img/header/ic-user.svg" alt="login logo">
                <span>User login</span>
            </a>
        </li>
        <li class="authtorization__item">
            <a>
                <img src="assets/img/header/ic-exit.svg" alt="logout logo">
                <span>Log off</span>
            </a>
        </li>
    </ul>
</header>
