$text: #ffffff;

//I don't know why application create a white gap at the top and at the bottom

html, body {
    height: 100%;
    margin: -10px 0 0 0;
    background:#f2f3f7;
  }

.container {
    padding: 0 85px 0 85px;
}

a {
    color: $text
}